/*body*/
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /*background-color: aqua;*/
    border-radius: 10px;
    background-image: url("./asset/background.img.jpg");

}